body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #ffff00, #0000ff);
  overflow: hidden;
}

@keyframes move {
  from {
    transform: translate(-5px, -5px);
  }

  to {
    transform: translate(5px, 5px);
  }
}

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #4d4d4d;
  animation: move 1s ease-in-out infinite alternate;
}


.container {
  display: flex;
  justify-content: space-between;
}

#game {
  width: 600px;
  height: 600px;
  margin: 0 auto 20px auto;
}

p {
  margin: 0 auto;
  text-align: center;
  width: calc(50% - 10px);
  font-size: 20px;
  font-weight: bold;
}