:root {
  --bg-color: linear-gradient(180deg, #191825 0%, #865dff 80%);
  --text-color: #cbe4de;
  --text-interaction-color: #a7a7a7;
  --link-color: #ffa3fd;
  --h2-color: #e384ff;
  --background-color: #000000;
}

body {
  background-image: var(--bg-color);
  color: var(--text-color);
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--link-color);
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  text-align: center;
}

h2 {
  color: var(--h2-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--text-color),
    -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);
}

h3 {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap: 15px;
  align-items: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: var(--text-interaction-color);
}

nav a:hover {
  color: var(--link-color);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5vh;
}

.centralized {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.drawings {
  border: 0.5rem outset white;
  border-radius: 1rem;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}
